@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@800&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.big-banner {
  background: url("../images/tutor-bnn-1.png") no-repeat;
  background-size: cover;
  background-position: center;
  height: 600px;
}
.big-banner-container {
  height: 100%;
}
.big-banner .banner-header {
  position: relative;
}
.big-banner .banner-header-text {
  position: relative;
  font-size: 79px;
  font-weight: 700;
  color: #fff;
  z-index: 2;
  width: 100%;
}
.big-banner .banner-header-decor {
  width: 121px;
  position: absolute;
  z-index: 1;
  bottom: 45px;
  left: 405px;
}
.big-banner .banner-sub-header {
  padding: 10px;
  gap: 10px;
  background: rgba(237, 230, 214, 0.33);
  width: 450px;
  margin-bottom: 20px;
}
.big-banner .banner-sub-header h2 {
  font-size: 28px;
  font-weight: 600;
  color: #FFE85B;
  line-height: normal;
  margin-bottom: 0;
}
.big-banner .banner-btn-detail {
  position: relative;
  padding: 14px 38px;
  width: 240px;
  border-radius: 100vw;
  background-color: transparent;
  color: #FFE85B;
  font-size: 20px;
  font-weight: 600;
  border: solid 2px #FFE85B;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.6s cubic-bezier(0.25, 1, 0.5, 1);
  left: 100px;
}
.big-banner .banner-btn-detail-text {
  position: relative;
  z-index: 2;
}
.big-banner .banner-btn-detail .fill-container {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  padding-bottom: 100%;
  transform: translateY(-50%) rotate(180deg);
}
.big-banner .banner-btn-detail .fill-container::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #FFE85B;
  border-radius: 50%;
  transition: all 0.6s cubic-bezier(0.25, 1, 0.5, 1);
  transform: translateY(-100%);
}
.big-banner .banner-btn-detail:hover {
  border-color: #FFE85B;
  transform: translateY(-4px);
  color: #fff;
}
.big-banner .banner-btn-detail:hover .fill-container {
  transform: translateY(-50%) rotate(0);
}
.big-banner .banner-btn-detail:hover .fill-container::after {
  transform: translateY(0);
}

.sub-banner {
  width: 100%;
  height: 626px;
  background: #fffced;
  overflow: hidden;
}
.sub-banner-container {
  height: 100%;
}
.sub-banner-container h4 {
  font-size: 30px;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  color: #099258;
}
.sub-banner-container h2 {
  color: #000;
  font-size: 45px;
  font-weight: 800;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 50px;
}
.sub-banner-container .card-group {
  width: 100%;
}
.sub-banner-container .card-group .card {
  border-radius: 12px !important;
  border: 0px;
  padding: 47px 27px;
  transition: all 0.5s ease-in-out;
}
.sub-banner-container .card-group .card:hover {
  box-shadow: 0px 0px 31px 0px rgba(0, 0, 0, 0.13);
}
.sub-banner-container .card-group .card-body {
  padding: 2rem 0 0 0;
}
.sub-banner-container .card-group .card-body .card-title {
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}
.sub-banner-container .card-group .card-body .card-text {
  color: #717171;
}

.our-tutors {
  width: 100%;
  height: 900px;
  background: var(--bg-blur, linear-gradient(103deg, #e2ffe1 -2.42%, #fff8cf 114.41%));
}
.our-tutors-container {
  height: 100%;
}
.our-tutors-container-header h1 {
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
  color: #099258;
}
.our-tutors-container-header .read-more {
  text-decoration: none;
  font-size: 20px;
  display: inline-block;
  color: #78BC71;
  transition: 0.2s;
}
.our-tutors-container-header .read-more:hover {
  font-weight: 500;
  color: #099258;
}
.our-tutors-container .tutor-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px 45px;
  padding: 70px 0;
  margin-top: 20px;
  height: 600px;
}
.our-tutors-container .tutor-container .tutor-card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 400px;
  height: 380px;
  background: #fff;
  border-radius: 12px !important;
  transition: all 0.5s ease-in-out;
}
.our-tutors-container .tutor-container .tutor-card:hover {
  height: 450px;
  box-shadow: 0px 0px 31px 0px rgba(0, 0, 0, 0.13);
}
.our-tutors-container .tutor-container .tutor-card-img {
  position: absolute;
  top: 20px;
  width: 350px;
  height: 255px;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}
.our-tutors-container .tutor-container .tutor-card-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.our-tutors-container .tutor-container .tutor-card-content {
  width: 85%;
  position: absolute;
  top: 290px;
  height: 70px;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}
.our-tutors-container .tutor-container .tutor-card-content-header {
  margin-bottom: 15px;
}
.our-tutors-container .tutor-container .tutor-card-content-header h3 {
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 0;
}
.our-tutors-container .tutor-container .tutor-card-content-header .ielts-band {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
  height: 100%;
  color: #099258;
}
.our-tutors-container .tutor-container .tutor-card-content-header .exp-tutor {
  margin-bottom: 0;
  color: #099258;
}
.our-tutors-container .tutor-container .tutor-card-content-detail {
  text-align: center;
  color: #717171;
}
.our-tutors-container .tutor-container .tutor-card-content-detail a {
  position: relative;
  top: 10px;
  display: inline-block;
  padding: 12px 25px;
  background: #78BC71;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  border-radius: 20px;
}
.our-tutors-container .tutor-container .tutor-card:hover .tutor-card-img {
  top: -100px;
  scale: 0.75;
  box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
}
.our-tutors-container .tutor-container .tutor-card:hover .tutor-card-content {
  height: 300px;
  top: 160px;
}

.test-ielts {
  width: 100%;
  height: 1000px;
  background: #fffced;
}
.test-ielts-container {
  height: 100%;
}
.test-ielts-container-1 h1 {
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #099258;
}
.test-ielts-container-1 p {
  font-size: 20px;
  width: 80%;
  color: #717171;
}
.test-ielts-container-1 img {
  width: 432px;
  height: 433px;
}
.test-ielts-container-2 {
  position: relative;
  padding-left: 150px;
}
.test-ielts-container-2 img {
  position: absolute;
  bottom: 350px;
  right: 50px;
  width: 480px;
  height: 480px;
}
.test-ielts-container-2 p {
  position: absolute;
  font-size: 20px;
  width: 70%;
  color: #717171;
  bottom: 210px;
}
.test-ielts-container-2 .test-link {
  position: inherit;
  bottom: 130px;
  width: 428px;
  height: 50px;
  font-size: 20px;
  font-weight: 600;
  border: 2px solid #78BC71;
  border-radius: 30px;
  transition: all 0.5s ease-in-out;
}
.test-ielts-container-2 .test-link a {
  color: #78BC71;
  text-decoration: none;
}
.test-ielts-container-2 .test-link:hover {
  background: #78BC71;
  cursor: pointer;
}
.test-ielts-container-2 .test-link:hover a {
  color: #fff;
}
.test-ielts-container-2 .test-link-1 {
  position: inherit;
  bottom: 60px;
  width: 428px;
  height: 50px;
  font-size: 20px;
  font-weight: 600;
  border: 2px solid #78BC71;
  background: #78BC71;
  border-radius: 30px;
  transition: all 0.5s ease-in-out;
}
.test-ielts-container-2 .test-link-1 a {
  color: #fff;
  text-decoration: none;
}
.test-ielts-container-2 .test-link-1:hover {
  background: transparent;
  cursor: pointer;
}
.test-ielts-container-2 .test-link-1:hover a {
  color: #78BC71;
}
.test-ielts-container-2 .test-div {
  position: absolute;
  bottom: 5px;
  right: 280px;
}

.courses {
  width: 100%;
  height: 1000px;
  background: #EDE6D6;
  position: relative;
}
.courses-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 23%;
  z-index: 1;
}
.courses-container {
  height: 100%;
  z-index: 3;
  padding: 0 35px;
}
.courses-container h1 {
  color: #099258;
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}
.courses-container h4 {
  color: #78BC71;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 120px;
}
.courses-container a {
  width: 100%;
  margin: 80px 500px 0 500px;
  height: 46px;
  background: #78BC71;
  border-radius: 30px;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out;
}
.courses-container a:hover {
  margin: 80px 490px 0 490px;
}
.courses-container .course-wrapper {
  width: 100%;
  height: 370px;
  max-width: 1320px;
  position: relative;
}
.courses-container .course-wrapper i {
  height: 50px;
  width: 50px;
  background: #fff;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 50%;
  font-size: 1.25rem;
  transform: translateY(-50%);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
  z-index: 10;
  color: #78BC71;
  font-weight: 600;
}
.courses-container .course-wrapper i:first-child {
  left: -22px;
}
.courses-container .course-wrapper i:last-child {
  right: -22px;
}
.courses-container .course-wrapper .carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc(33.3333333333% - 10px);
  padding-left: 0;
  gap: 16px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: 0;
  scroll-behavior: smooth;
}
.courses-container .course-wrapper .carousel::-webkit-scrollbar {
  display: none;
}
.courses-container .course-wrapper .carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.courses-container .course-wrapper .carousel.dragging .course {
  cursor: grab;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.courses-container .course-wrapper .carousel.no-transition {
  scroll-behavior: auto;
}
.courses-container .course-wrapper .carousel .course {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  scroll-snap-align: start;
}
.courses-container .course-wrapper .carousel .course-img {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
}
.courses-container .course-wrapper .carousel .course-img img {
  width: 370px;
  height: 370px;
  -o-object-fit: cover;
     object-fit: cover;
}

.info-form {
  width: 100%;
  height: 1100px;
  position: relative;
  background: url("../images/form-bg.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom center;
}
.info-form-container {
  height: 100%;
}
.info-form-container .kinder-form {
  width: 550px;
  height: 930px;
  position: absolute;
  bottom: 5%;
  left: 18%;
  background: #fffced;
  border-radius: 10px;
  padding: 40px;
}
.info-form-container .kinder-form h4 {
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.info-form-container .kinder-form p {
  color: #717171;
}
.info-form-container .kinder-form label {
  font-weight: 600;
}
.info-form-container .kinder-form .btn {
  background: #78BC71;
  border-radius: 30px;
  color: #fff;
  font-weight: 500;
  padding: 10px 0;
  font-size: 18px;
  margin-top: 15px;
}
.info-form-container .kinder-form .btn:hover {
  border: 1px solid #78BC71;
  color: #78BC71;
  background: #fffced;
}
.info-form-container img {
  position: absolute;
  bottom: 0;
  right: 12%;
}

.wrapper-hidden {
  display: none;
}

#load-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #111;
  z-index: 9999;
  transition: all 0.5s ease-in-out;
}

.fade-out-anim {
  opacity: 0;
  visibility: hidden;
}

.custom-modal {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}
.custom-modal-img {
  width: 100%;
}
.custom-modal-img img {
  width: 200px;
  height: 200px;
}
.custom-modal p {
  margin-top: 15px;
  color: #717171;
}

footer {
  width: 100%;
  height: 570px;
  background: #111;
}
footer .footer-container {
  height: 100%;
}
footer .footer-container-1 img {
  width: 301px;
  height: 129px;
}
footer .footer-container-1 .kinder-info h5 {
  color: #727272;
}
footer .footer-container-1 .kinder-info ul {
  padding-left: 0 !important;
}
footer .footer-container-1 .kinder-info ul .d-flex {
  gap: 10px !important;
}
footer .footer-container-1 .kinder-info li {
  list-style: none;
  color: #fff;
}
footer .footer-container-1 .kinder-info li a {
  text-decoration: none;
  font-size: 17px !important;
  color: #fff;
  transition: all 0.5s ease-in-out;
}
footer .footer-container-1 .kinder-info li a:hover {
  color: #FCD733;
}
footer .footer-container-1 .kinder-info li i {
  color: #fff;
  margin-right: 5px;
}
footer .footer-container-1 .kinder-social h5 {
  color: #727272;
}
footer .footer-container-1 .kinder-social ul {
  display: flex;
  padding-left: 0px !important;
  gap: 15px;
}
footer .footer-container-1 .kinder-social ul li {
  list-style: none;
  color: #fff;
}
footer .footer-container-1 .kinder-social ul li a {
  font-size: 30px;
  color: #fff;
  transition: all 0.5s ease-in-out;
}
footer .footer-container-1 .kinder-social ul li a:hover {
  color: #78BC71;
}
footer .footer-container-2 .kinder-course h5 {
  color: #727272;
}
footer .footer-container-2 .kinder-course ul {
  padding-left: 0 !important;
}
footer .footer-container-2 .kinder-course ul li {
  list-style: none;
  color: #fff;
  margin-bottom: 10px;
}
footer .footer-container-2 .kinder-course ul li a {
  text-decoration: none;
  font-size: 17px !important;
  color: #fff;
  transition: all 0.5s ease-in-out;
}
footer .footer-container-2 .kinder-course ul li a:hover {
  color: #FCD733;
}
footer .kinder-copyright {
  height: 50px;
  background: #111;
  border-top: 2px solid #1B1B1B;
}
footer .kinder-copyright span {
  color: #727272;
}

.navbar .nav-link-content {
  font-weight: 600;
  font-size: 18px;
  transition: all 0.5s ease-in-out;
}
.navbar .nav-link-content:hover {
  color: #FCD733;
}
.navbar .nav-link-content-btn {
  font-weight: 600;
  font-size: 15px;
}
.navbar .nav-link .offcanvas-title-header {
  font-weight: 700;
}
.navbar .nav-item-btn {
  background: #78BC71;
  border-radius: 20px;
}

@media screen and (min-width: 375px) and (max-width: 768px) and (orientation: portrait) {
  .big-banner-container {
    padding: 0 20px;
  }
  .big-banner {
    height: 25vh;
  }
  .big-banner .banner-header-text {
    font-size: 35px;
  }
  .big-banner .banner-header-decor {
    width: 43px;
    bottom: 27px;
    left: 185px;
  }
  .big-banner .banner-sub-header {
    width: 210px;
    margin-bottom: 10px;
  }
  .big-banner .banner-sub-header h2 {
    font-size: 12px;
  }
  .big-banner .banner-btn-detail {
    width: 150px;
    font-size: 12px;
    padding: 10px 2px;
    left: 0px;
  }
  .brand-logo {
    width: 80px;
  }
  .navbar-toggler-custom {
    width: 42px;
    height: 30px;
  }
  .navbar-toggler-icon-custom {
    width: 16px;
    height: 16px;
    margin-bottom: 7px;
  }
  .offcanvas-end.show .offcanvas-body .navbar-nav-content {
    padding-left: 0px !important;
  }
  .offcanvas-end.show .offcanvas-body .navbar-nav-content .nav-item:nth-child(5) {
    margin-bottom: 20px !important;
  }
  .offcanvas-end.show .offcanvas-body .navbar-nav-content .nav-item-btn {
    width: 200px !important;
    margin-left: 1.5rem !important;
  }
  .sub-banner {
    height: -moz-fit-content;
    height: fit-content;
  }
  .sub-banner-container {
    padding: 0 20px;
  }
  .sub-banner-container h4 {
    font-size: 15px !important;
    width: 100%;
  }
  .sub-banner-container h2 {
    font-size: 25px !important;
    width: 100%;
  }
  .sub-banner-container .card-group .card {
    padding: 37px 27px;
  }
  .sub-banner-container .card-group .card img {
    width: 20%;
  }
  .sub-banner-container .card-group .card-body .card-title {
    font-size: 18px;
  }
  .sub-banner-container .card-group .card-body .card-text {
    font-size: 13px;
  }
  .our-tutors {
    height: -moz-fit-content;
    height: fit-content;
    padding: 30px 0;
  }
  .our-tutors-container {
    padding: 0 25px;
  }
  .our-tutors-container-header {
    width: 100%;
  }
  .our-tutors-container-header h1 {
    font-size: 25px !important;
  }
  .our-tutors-container-header .read-more {
    font-size: 15px !important;
  }
  .our-tutors-container .tutor-container {
    height: -moz-fit-content;
    height: fit-content;
    padding: 10px 0;
    gap: 50px 20px;
  }
  .our-tutors-container .tutor-container .tutor-card {
    width: 300px !important;
    height: 300px !important;
  }
  .our-tutors-container .tutor-container .tutor-card:hover {
    height: 360px !important;
  }
  .our-tutors-container .tutor-container .tutor-card-img {
    width: 270px;
    height: 175px;
    top: 15px;
  }
  .our-tutors-container .tutor-container .tutor-card-img img {
    border-radius: 10px;
  }
  .our-tutors-container .tutor-container .tutor-card-content {
    top: 220px;
  }
  .our-tutors-container .tutor-container .tutor-card-content-header h3 {
    font-size: 18px;
  }
  .our-tutors-container .tutor-container .tutor-card-content-header .ielts-band {
    font-size: 15px;
  }
  .our-tutors-container .tutor-container .tutor-card-content-header .exp-tutor {
    font-size: 13px;
  }
  .our-tutors-container .tutor-container .tutor-card:hover .tutor-card-img {
    top: -60px;
  }
  .our-tutors-container .tutor-container .tutor-card:hover .tutor-card-content {
    top: 108px !important;
  }
  .our-tutors-container .tutor-container .tutor-card:hover .tutor-card-content-detail {
    font-size: 13px !important;
  }
  .test-ielts {
    padding: 30px 0;
    height: -moz-fit-content;
    height: fit-content;
  }
  .test-ielts-container {
    padding: 0 25px;
  }
  .test-ielts-container-1 {
    padding-right: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .test-ielts-container-1 h1 {
    font-size: 25px !important;
  }
  .test-ielts-container-1 p {
    font-size: 15px !important;
    width: 100% !important;
    padding-top: 20px !important;
    padding-bottom: 0 !important;
  }
  .test-ielts-container-1 img {
    width: 260px !important;
    height: 261px !important;
  }
  .test-ielts-container-2 {
    position: relative;
    padding-left: 0 !important;
    margin-top: 30px;
  }
  .test-ielts-container-2 img {
    display: none;
  }
  .test-ielts-container-2 p {
    position: inherit;
    font-size: 15px !important;
    bottom: 0 !important;
    width: 100% !important;
    margin-bottom: 30px !important;
  }
  .test-ielts-container-2 .test-div {
    position: inherit;
    right: 0 !important;
    bottom: 0 !important;
  }
  .test-ielts-container-2 .test-link {
    position: inherit;
    bottom: 0 !important;
    width: 80%;
    font-size: 15px !important;
    margin-bottom: 15px;
  }
  .test-ielts-container-2 .test-link-1 {
    position: inherit;
    bottom: 0 !important;
    width: 80%;
    font-size: 15px !important;
  }
  .courses {
    height: 650px;
  }
  .courses-img {
    width: 50%;
  }
  .courses-container {
    padding: 0 25px !important;
  }
  .courses-container h1 {
    font-size: 25px !important;
    width: 100%;
    z-index: 99;
  }
  .courses-container h4 {
    z-index: 99;
    font-size: 15px !important;
    width: 100%;
    margin-bottom: 20px;
  }
  .courses-container a {
    margin: 50px 30px 0 30px !important;
    font-size: 15px;
  }
  .courses-container .course-wrapper {
    height: 300px;
  }
  .courses-container .course-wrapper i:first-child {
    left: -15px;
  }
  .courses-container .course-wrapper i:last-child {
    right: -15px;
  }
  .courses-container .course-wrapper .carousel {
    grid-auto-columns: 100%;
    gap: 50px;
  }
  .courses-container .course-wrapper .carousel .course-img img {
    width: 300px;
    height: 300px;
  }
  .info-form {
    background: none;
  }
  .info-form img {
    display: none !important;
  }
  .info-form-container {
    padding: 0 25px !important;
  }
  .info-form-container .kinder-form {
    position: inherit;
    padding: 20px;
  }
  .info-form-container .kinder-form h4 {
    font-size: 20px !important;
  }
  .info-form-container .kinder-form p {
    font-size: 13px !important;
  }
  .info-form-container .kinder-form label {
    font-size: 13px !important;
  }
  .info-form-container .kinder-form .btn {
    font-size: 15px !important;
    padding: 7px 0;
  }
  .info-form-container .kinder-form input {
    font-size: 13px !important;
  }
  .info-form-container .kinder-form select {
    font-size: 13px !important;
  }
  .custom-modal {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .custom-modal-img img {
    width: 130px;
    height: 130px;
  }
  .custom-modal h3 {
    font-size: 20px !important;
  }
  .custom-modal p {
    font-size: 13px !important;
    margin-top: 10px;
  }
  footer {
    height: 600px;
  }
  footer .footer-container-1 {
    width: 320px;
  }
  footer .footer-container-1 img {
    width: 147px;
    height: 63px;
  }
  footer .footer-container-1 .kinder-info {
    margin-top: 15px !important;
  }
  footer .footer-container-1 .kinder-info h5 {
    font-size: 15px !important;
    padding-bottom: 5px !important;
  }
  footer .footer-container-1 .kinder-info ul .d-flex {
    gap: 5px !important;
  }
  footer .footer-container-1 .kinder-info li a {
    font-size: 13px !important;
  }
  footer .footer-container-1 .kinder-social {
    margin-top: 20px !important;
  }
  footer .footer-container-1 .kinder-social h5 {
    font-size: 15px !important;
    padding-bottom: 5px !important;
  }
  footer .footer-container-1 .kinder-social ul {
    gap: 10px !important;
  }
  footer .footer-container-1 .kinder-social ul li a {
    font-size: 20px !important;
  }
  footer .footer-container-2 {
    padding-left: 0 !important;
    width: 320px;
  }
  footer .footer-container-2 .kinder-course {
    margin-top: 10px !important;
  }
  footer .footer-container-2 .kinder-course h5 {
    font-size: 15px !important;
    padding-bottom: 5px !important;
  }
  footer .footer-container-2 .kinder-course ul {
    gap: 10px !important;
  }
  footer .footer-container-2 .kinder-course ul li a {
    font-size: 13px !important;
  }
  footer .kinder-copyright span {
    font-size: 12px !important;
  }
}
@media screen and (min-width: 844px) and (max-width: 896px) {
  body {
    transform: rotate(90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    position: fixed;
    top: 0;
    left: 0;
  }
}
@media only screen and (min-width: 375px) and (max-width: 768px) and (orientation: landscape) {
  body {
    transform: rotate(90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    position: fixed;
    top: 0;
    left: 0;
  }
}
body {
  font-family: "Barlow", sans-serif;
  line-height: 1;
  scroll-behavior: smooth;
}/*# sourceMappingURL=main.css.map */