.courses-tutor-1 {
  width: 100%;
  height: auto;
  background: $primary-section-color;
  position: relative;
  padding: 100px 0;
  .courses-container {
    height: 100%;
    z-index: 3;
    padding: 0 35px;

    .arrow {
      font-size: 25px !important;
      margin-left: 15px;
    }

    h1 {
      color: $header-color;
      font-size: 54px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-transform: capitalize;
    }

    h4 {
      color: $primary-button-color;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      text-transform: capitalize;
      margin-bottom: 20px;
    }

    a {
      width: 100%;
      margin: 80px 520px 0 520px;
      height: 50px;
      background: $header-color;
      border-radius: 30px;
      text-decoration: none;
      color: #fdf02d;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      text-transform: uppercase;
      @include transition-ease;

      &:hover {
        margin: 80px 500px 0 500px;
      }
    }

    .student {
      //width: 100%;
      margin-top: 30px;

      &-el {
        img {
          width: 100%;
        }
      }
    }
  }
}
