$header-color: #099258;
$paragraph-color: #717171;
$nav-secondary-color: #fcd733;
$primary-button-color: #78bc71;
$secondary-button-color: #ffe85b;
$primary-section-color: #ede6d6;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@mixin transition-ease {
  transition: all 0.5s ease-in-out;
}

@function set-text-color($color) {
  @if (lightness($color) > 40%) {
    @return #000;
  } @else {
    @return #fff;
  }
}

@mixin media-sm {
  @media screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
    @content;
  }
}

@mixin media-sm-land {
  @media screen and (min-width: 375px) and (max-width: 767px) and (orientation: landscape) {
    @content;
  }
}

@mixin media-md {
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    @content;
  }
}

@mixin media-lg {
  @media screen and (min-width: 1024px) and (max-width: 1439px) {
    @content;
  }
}

@mixin media-xl {
  @media screen and (min-width: 1440px) and (max-width: 2559px) {
    @content;
  }
}

@mixin media-xxl {
  @media screen and (min-width: 2560px) {
    @content;
  }
}

@mixin media-sm-landscape {
  @media screen and (min-width: 844px) and (max-width: 896px) and (orientation: landscape) {
    @content;
  }
}
