.sub-banner-course {
  width: 100%;
  height: 800px;
  background: #fffced;
  padding: 60px 0;

  &-container {
    height: 100%;

    .tutor-sub-div {
      &-img {
        padding: 0 30px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        img {
          width: 70%;
        }
      }
      &-dt {
        margin-top: 20px;

        h3 {
          font-size: 65px;
          font-weight: 900;
          text-transform: uppercase;
          color: $header-color;
        }

        ul {
          margin-top: 25px;
          li {
            margin-bottom: 15px;
            font-size: 25px;
            font-weight: 500;
            color: $header-color;
          }
        }

        .band {
          width: 600px;
          height: fit-content;
          display: flex;
          justify-content: flex-start;
          margin-top: 50px;

          &-div {
            display: flex;
            align-items: center;
            height: 40px;
            width: 170px;
            background: $header-color;
            padding: 15px 10px;
            border-radius: 5px;

            p {
              margin: 0;
              font-size: 20px;
              font-weight: 500;
              color: #fff;
            }
          }

          .overall {
            width: 100px;
            height: 90px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 20px;

            p {
              font-size: 70px;
              font-weight: 700;
              color: $header-color;
            }
          }
        }
      }
    }
  }
}

.our-tutors-course {
  width: 100%;
  min-height: 1200px;
  background: $header-color;
  position: relative;
  padding: 100px 0 170px 0;

  .img-decor {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;

    &-1 {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 50%;
    }
  }

  &-container {
    &-text {
      .h2-tutor {
        font-size: 65px;
        text-transform: uppercase;
        font-weight: 700;
        color: #fff;

        &-1 {
          font-size: 80px;
          text-transform: uppercase;
          font-weight: 700;
          color: $secondary-button-color;
        }
      }
      .p-tutor {
        font-size: 27px;
        margin-top: 50px;
        width: 70%;
        line-height: normal;
        font-weight: 500;
        color: #fff;

        span {
          color: $secondary-button-color;
        }
      }

      .fee-div {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 50px;
        .fee {
          width: 70%;
        }
      }

      .step {
        margin-top: 50px;
        .p-step {
          font-size: 23px;
          background: $secondary-button-color;
          width: fit-content;
          padding: 15px 20px;
          color: $header-color;
          font-weight: 700;
        }
        p {
          width: 59%;
          line-height: normal;
          font-weight: 500;
          color: #fff;
          font-size: 27px;
          margin-top: 30px;
        }
        ul {
          li {
            color: #fff;
            font-size: 27px;
            line-height: normal;
            font-weight: 500;
          }
        }
      }
    }
  }
}

#load-wrapper-hatgiong {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #111;
  z-index: 9999;
  @include transition-ease;
}

.fade-out-anim {
  opacity: 0;
  visibility: hidden;
}
