.big-banner {
  background: url("../images/tutor-bnn-1-new.png") no-repeat;
  background-size: cover;
  background-position: center;
  height: 600px;

  &-container {
    height: 100%;
  }

  .banner-header {
    position: relative;

    &-text {
      position: relative;
      font-size: 79px;
      font-weight: 700;
      color: #fff;
      z-index: 2;
      width: 100%;
    }

    &-decor {
      width: 121px;
      position: absolute;
      z-index: 1;
      bottom: 45px;
      left: 405px;
    }
  }

  .banner-sub-header {
    padding: 10px;
    gap: 10px;
    background: rgba(237, 230, 214, 0.33);
    width: 450px;
    margin-bottom: 20px;

    h2 {
      font-size: 28px;
      font-weight: 600;
      color: $secondary-button-color;
      line-height: normal;
      margin-bottom: 0;
    }
  }

  .banner-btn-detail {
    position: relative;
    padding: 14px 38px;
    width: 240px;
    border-radius: 100vw;
    background-color: transparent;
    color: $secondary-button-color;
    font-size: 20px;
    font-weight: 600;
    border: solid 2px $secondary-button-color;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.6s cubic-bezier(0.25, 1, 0.5, 1); // easeOutQuart
    left: 100px;

    &-text {
      position: relative;
      z-index: 2;
    }

    .fill-container {
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      padding-bottom: 100%;
      transform: translateY(-50%) rotate(180deg);

      // collor filling
      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: $secondary-button-color;
        border-radius: 50%;
        transition: all 0.6s cubic-bezier(0.25, 1, 0.5, 1); // easeOutQuart
        transform: translateY(-100%);
      }
    }

    &:hover {
      border-color: $secondary-button-color;
      transform: translateY(-4px);
      color: #fff;

      .fill-container {
        transform: translateY(-50%) rotate(0);

        &::after {
          transform: translateY(0);
        }
      }
    }
  }
}

.sub-banner {
  width: 100%;
  height: 626px;
  background: #fffced;
  overflow: hidden;

  &-container {
    height: 100%;

    h4 {
      font-size: 30px;
      font-weight: 600;
      line-height: normal;
      text-transform: capitalize;
      color: $header-color;
    }

    h2 {
      color: #000;
      font-size: 45px;
      font-weight: 800;
      line-height: normal;
      text-transform: capitalize;
      margin-bottom: 50px;
    }

    .card-group {
      width: 100%;
      .card {
        border-radius: 12px !important;
        border: 0px;
        padding: 47px 27px;
        @include transition-ease;

        &:hover {
          box-shadow: 0px 0px 31px 0px rgba(0, 0, 0, 0.13);
        }

        &-body {
          padding: 2rem 0 0 0;

          .card-title {
            font-weight: 700;
            line-height: normal;
            text-transform: capitalize;
          }

          .card-text {
            color: $paragraph-color;
          }
        }
      }
    }
  }
}

.our-tutors {
  width: 100%;
  height: 1000px;
  background: var(
    --bg-blur,
    linear-gradient(103deg, #e2ffe1 -2.42%, #fff8cf 114.41%)
  );
  position: relative;
  //overflow: hidden;
  .decor {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 0;
    width: 33%;
  }

  &-container {
    height: 100%;

    &-header {
      h1 {
        font-size: 54px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: capitalize;
        color: $header-color;
      }

      .read-more {
        text-decoration: none;
        font-size: 20px;
        display: inline-block;
        color: $primary-button-color;
        transition: 0.2s;

        &:hover {
          font-weight: 500;
          color: $header-color;
        }
      }
    }

    .tutor-container {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 100px 45px;
      padding: 70px 0;
      margin-top: 20px;
      height: 600px;

      .tutor-card {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 400px;
        height: 380px;
        background: #fff;
        border-radius: 12px !important;
        @include transition-ease;

        &:hover {
          height: 450px;
          box-shadow: 0px 0px 31px 0px rgba(0, 0, 0, 0.13);
        }

        &-img {
          position: absolute;
          top: 20px;
          width: 350px;
          height: 255px;
          border-radius: 10px;
          @include transition-ease;

          img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        &-content {
          width: 85%;
          position: absolute;
          top: 290px;
          height: 70px;
          overflow: hidden;
          @include transition-ease;

          &-header {
            margin-bottom: 15px;

            h3 {
              font-style: normal;
              font-weight: 600;
              line-height: normal;
              text-transform: capitalize;
              margin-bottom: 0;
            }

            .ielts-band {
              font-size: 18px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
              text-transform: capitalize;
              height: 100%;
              color: $header-color;
            }

            .exp-tutor {
              margin-bottom: 0;
              color: $header-color;
            }
          }

          &-detail {
            text-align: center;
            color: $paragraph-color;

            a {
              margin: 0;
              position: relative;
              top: 10px;
              display: inline-block;
              padding: 12px 25px;
              background: $primary-button-color;
              color: #fff;
              font-weight: 500;
              text-decoration: none;
              border-radius: 20px;
              height: 100% !important;
            }
          }
        }
      }

      .tutor-card:hover .tutor-card-img {
        top: -100px;
        scale: 0.75;
        box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
      }

      .tutor-card:hover .tutor-card-content {
        height: 300px;
        top: 160px;
      }
    }

    .cta-btn {
      width: 100%;
      margin: 50px 365px 0px 365px;
      height: 50px;
      background: $header-color;
      border-radius: 30px;
      text-decoration: none;
      color: #fff;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      text-transform: uppercase;

      i {
        margin-left: 20px;
      }
    }
  }
}

.test-ielts {
  width: 100%;
  height: 1200px;
  background: #fffced;

  &-container {
    height: 100%;

    &-1 {
      h1 {
        font-size: 54px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        color: $header-color;
        width: 450px;
        text-transform: capitalize;
      }

      p {
        font-size: 20px;
        width: 80%;
        color: $paragraph-color;
      }

      img {
        width: 476px;
        height: 500px;
      }
    }

    &-2 {
      position: relative;
      padding-left: 150px;

      img {
        position: absolute;
        bottom: 350px;
        right: 50px;
        width: 462px;
        height: 500px;
      }

      p {
        position: absolute;
        font-size: 20px;
        width: 70%;
        color: $paragraph-color;
        bottom: 210px;
      }

      .test-link {
        position: inherit;
        bottom: 130px;
        width: 428px;
        height: 50px;
        font-size: 20px;
        font-weight: 600;
        border: 2px solid $header-color;
        border-radius: 30px;
        @include transition-ease;

        a {
          color: $header-color;
          text-decoration: none;
        }

        &:hover {
          background: $header-color;
          cursor: pointer;

          a {
            color: #fff;
          }
        }
      }

      .test-link-1 {
        position: inherit;
        bottom: 60px;
        width: 428px;
        height: 50px;
        font-size: 20px;
        font-weight: 600;
        border: 2px solid #ffe85b;
        background: #ffe85b;
        border-radius: 30px;
        @include transition-ease;

        a {
          color: $header-color;
          text-decoration: none;
        }
      }

      .test-div {
        position: absolute;
        bottom: 5px;
        right: 280px;
      }
    }
  }
}

.courses {
  width: 100%;
  height: 1200px;
  background: $primary-section-color;
  position: relative;

  &-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 23%;
    z-index: 1;
  }

  &-container {
    height: 100%;

    z-index: 3;
    padding: 0 35px;

    h4 {
      margin-bottom: 70px !important;
    }

    .content {
      width: 100%;

      &-all {
        width: 100%;
        //height: 100%;

        .combo {
          height: fit-content;
          padding: 40px 25px 15px 25px;
          background: #fdf02d;
          border-radius: 10px;

          &-details {
            width: 100%;
            height: auto;
            padding: 25px;
            margin-bottom: 15px;
            background: url("../images/course-bg.png") no-repeat;
            background-size: cover;
            background-position: center;
            border-radius: 10px;
            border: solid 1px $header-color;

            &-header {
              width: 100%;
              height: auto;
              background: $header-color;
              padding: 15px;
              margin-bottom: 20px;
              border-radius: 10px;

              h2 {
                margin: 0 !important;
                font-size: 35px;
                color: #fdf02d;
                font-weight: 700;
              }
            }

            &-el {
              width: 100%;
              height: auto;
              margin: 0;

              .course {
                padding: 0 !important;
                &-el {
                  width: 220px;
                  height: 220px;
                  background: $primary-section-color;
                  padding: 7px;
                  border: solid 1px $header-color;
                  border-radius: 10px;

                  h2 {
                    height: 100%;
                    text-align: center;
                    margin: 0;
                    font-size: 35px;
                    font-weight: 900;
                    -webkit-text-stroke: 2px $header-color;
                    color: #fdf02d;
                    text-transform: uppercase;
                  }
                }
              }
            }
          }

          h5 {
            font-style: italic;
            color: #896114;
            font-weight: 500;
          }
        }
      }

      .class {
        width: 100%;
        height: fit-content;
        padding: 40px 25px 15px 25px;
        background: #fdf02d;
        border-radius: 10px;

        &-details {
          width: 100%;
          height: auto;
          margin-bottom: 15px;
          background: #fff;
          padding: 7px 15px;
          border-radius: 10px;
          border: solid 1px $header-color;

          &-el {
            width: 100%;
            height: auto;
            margin: 30px 0;

            .class-bx {
              width: 100%;
              height: 60px;
              background: #fdf02d;
              border-radius: 10px;
              border: solid 1px $header-color;

              h3 {
                margin: 0;
                height: 100%;
                text-align: center;
                font-size: 25px;
                font-weight: 600;
                color: $header-color;
              }

              &-hd {
                width: 100%;
                height: 60px;
                background: $header-color;
                border-radius: 10px;

                a {
                  margin: 0;
                  height: 100%;
                  text-align: center;
                  font-size: 25px;
                  font-weight: 600;
                  color: #fdf02d;
                  text-decoration: none;
                }
              }
            }
          }
        }

        h5 {
          font-style: italic;
          color: #896114;
          font-weight: 500;
        }
      }
    }

    h1 {
      color: $header-color;
      font-size: 54px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-transform: capitalize;
    }

    h4 {
      color: $primary-button-color;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      text-transform: capitalize;
      margin-bottom: 120px;
    }
  }
}

.info-form {
  width: 100%;
  height: 1100px;
  position: relative;
  background: url("../images/form-bg.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom center;

  &-container {
    height: 100%;

    .kinder-form {
      width: 550px;
      height: 930px;
      position: absolute;
      bottom: 5%;
      left: 18%;
      background: #fdf02d;
      border-radius: 10px;
      padding: 40px;

      h4 {
        font-size: 25px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }

      p {
        color: $paragraph-color;
      }

      label {
        font-weight: 600;
      }

      .btn {
        background: $primary-button-color;
        border-radius: 30px;
        color: #fff;
        font-weight: 500;
        padding: 10px 0;
        font-size: 18px;
        margin-top: 15px;

        &:hover {
          border: 1px solid $primary-button-color;
          color: $primary-button-color;
          background: #fffced;
        }
      }
    }

    img {
      position: absolute;
      bottom: 0;
      right: 18%;
      width: 35%;
    }

    .kinder-info {
      position: absolute;
      right: 15%;
      bottom: 50%;
      h5 {
        color: #727272;
        font-size: 27px;
      }

      ul {
        padding-left: 0 !important;

        .d-flex {
          gap: 10px !important;
        }
      }

      li {
        list-style: none;
        color: #fff;

        a {
          text-decoration: none;
          font-size: 25px !important;
          color: #000;
          @include transition-ease;
          font-weight: 500;

          &:hover {
            color: $nav-secondary-color;
          }
        }
        i {
          color: #000;
          margin-right: 5px;
          font-size: 25px;
          font-weight: 500;
        }
      }
    }
  }
}

.wrapper-hidden {
  display: none;
}

#load-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #111;
  z-index: 9999;
  @include transition-ease;
}

.fade-out-anim {
  opacity: 0;
  visibility: hidden;
}

.custom-modal {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;

  &-img {
    width: 100%;

    img {
      width: 200px;
      height: 200px;
    }
  }

  p {
    margin-top: 15px;
    color: $paragraph-color;
  }
}

footer {
  width: 100%;
  height: 570px;
  background: #111;

  .footer-container {
    height: 100%;

    &-1 {
      img {
        width: 301px;
        height: 129px;
      }

      .kinder-info {
        h5 {
          color: #727272;
        }

        ul {
          padding-left: 0 !important;

          .d-flex {
            gap: 10px !important;
          }
        }

        li {
          list-style: none;
          color: #fff;

          a {
            text-decoration: none;
            font-size: 17px !important;
            color: #fff;
            @include transition-ease;

            &:hover {
              color: $nav-secondary-color;
            }
          }
          i {
            color: #fff;
            margin-right: 5px;
          }
        }
      }

      .kinder-social {
        h5 {
          color: #727272;
        }

        ul {
          display: flex;
          padding-left: 0px !important;
          gap: 15px;

          li {
            list-style: none;
            color: #fff;

            a {
              font-size: 30px;
              color: #fff;
              @include transition-ease;

              &:hover {
                color: $primary-button-color;
              }
            }
          }
        }
      }
    }

    &-2 {
      .kinder-course {
        h5 {
          color: #727272;
        }

        ul {
          padding-left: 0 !important;

          li {
            list-style: none;
            color: #fff;
            margin-bottom: 10px;

            a {
              text-decoration: none;
              font-size: 17px !important;
              color: #fff;
              @include transition-ease;

              &:hover {
                color: $nav-secondary-color;
              }
            }
          }
        }
      }
    }
  }

  .kinder-copyright {
    height: 50px;
    background: #111;
    border-top: 2px solid #1b1b1b;

    span {
      color: #727272;
    }
  }
}
