.big-banner {
  background: url("../images/tutor-bnn.png") no-repeat;
  background-size: cover;
  background-position: center;
  height: 600px;

  &-container {
    height: 100%;
  }

  .banner-header {
    position: relative;

    &-text {
      position: relative;
      font-size: 79px;
      font-weight: 700;
      color: #fff;
      z-index: 2;
      width: 100%;
    }

    &-decor {
      width: 121px;
      position: absolute;
      z-index: 1;
      bottom: 45px;
      left: 405px;
    }
  }

  .banner-sub-header {
    padding: 10px;
    gap: 10px;
    background: rgba(237, 230, 214, 0.33);
    width: 450px;
    margin-bottom: 20px;

    h2 {
      font-size: 28px;
      font-weight: 600;
      color: $secondary-button-color;
      line-height: normal;
      margin-bottom: 0;
    }
  }

  .banner-btn-detail {
    position: relative;
    padding: 14px 38px;
    width: 240px;
    border-radius: 100vw;
    background-color: transparent;
    color: $secondary-button-color;
    font-size: 20px;
    font-weight: 600;
    border: solid 2px $secondary-button-color;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.6s cubic-bezier(0.25, 1, 0.5, 1); // easeOutQuart
    left: 100px;

    &-text {
      position: relative;
      z-index: 2;
    }

    .fill-container {
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      padding-bottom: 100%;
      transform: translateY(-50%) rotate(180deg);

      // collor filling
      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: $secondary-button-color;
        border-radius: 50%;
        transition: all 0.6s cubic-bezier(0.25, 1, 0.5, 1); // easeOutQuart
        transform: translateY(-100%);
      }
    }

    &:hover {
      border-color: $secondary-button-color;
      transform: translateY(-4px);
      color: #fff;

      .fill-container {
        transform: translateY(-50%) rotate(0);

        &::after {
          transform: translateY(0);
        }
      }
    }
  }
}

.sub-banner {
  width: 100%;
  height: 626px;
  background: #fffced;
  overflow: hidden;

  &-container {
    height: 100%;

    h4 {
      font-size: 30px;
      font-weight: 600;
      line-height: normal;
      text-transform: capitalize;
      color: $header-color;
    }

    h2 {
      color: #000;
      font-size: 45px;
      font-weight: 800;
      line-height: normal;
      text-transform: capitalize;
      margin-bottom: 50px;
    }

    .card-group {
      width: 100%;
      .card {
        border-radius: 12px !important;
        border: 0px;
        padding: 47px 27px;
        @include transition-ease;

        &:hover {
          box-shadow: 0px 0px 31px 0px rgba(0, 0, 0, 0.13);
        }

        &-body {
          padding: 2rem 0 0 0;

          .card-title {
            font-weight: 700;
            line-height: normal;
            text-transform: capitalize;
          }

          .card-text {
            color: $paragraph-color;
          }
        }
      }
    }
  }
}

.our-tutors {
  width: 100%;
  height: 900px;
  background: var(
    --bg-blur,
    linear-gradient(103deg, #e2ffe1 -2.42%, #fff8cf 114.41%)
  );
  //overflow: hidden;

  &-container {
    height: 100%;

    &-header {
      h1 {
        font-size: 54px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: capitalize;
        color: $header-color;
      }

      .read-more {
        text-decoration: none;
        font-size: 20px;
        display: inline-block;
        color: $primary-button-color;
        transition: 0.2s;

        &:hover {
          font-weight: 500;
          color: $header-color;
        }
      }
    }

    .tutor-container {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 100px 45px;
      padding: 70px 0;
      margin-top: 20px;
      height: 600px;

      .tutor-card {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 400px;
        height: 380px;
        background: #fff;
        border-radius: 12px !important;
        @include transition-ease;

        &:hover {
          height: 450px;
          box-shadow: 0px 0px 31px 0px rgba(0, 0, 0, 0.13);
        }

        &-img {
          position: absolute;
          top: 20px;
          width: 350px;
          height: 255px;
          border-radius: 10px;
          @include transition-ease;

          img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        &-content {
          width: 85%;
          position: absolute;
          top: 290px;
          height: 70px;
          overflow: hidden;
          @include transition-ease;

          &-header {
            margin-bottom: 15px;

            h3 {
              font-style: normal;
              font-weight: 600;
              line-height: normal;
              text-transform: capitalize;
              margin-bottom: 0;
            }

            .ielts-band {
              font-size: 18px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
              text-transform: capitalize;
              height: 100%;
              color: $header-color;
            }

            .exp-tutor {
              margin-bottom: 0;
              color: $header-color;
            }
          }

          &-detail {
            text-align: center;
            color: $paragraph-color;

            a {
              position: relative;
              top: 10px;
              display: inline-block;
              padding: 12px 25px;
              background: $primary-button-color;
              color: #fff;
              font-weight: 500;
              text-decoration: none;
              border-radius: 20px;
            }
          }
        }
      }

      .tutor-card:hover .tutor-card-img {
        top: -100px;
        scale: 0.75;
        box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
      }

      .tutor-card:hover .tutor-card-content {
        height: 300px;
        top: 160px;
      }
    }
  }
}

.test-ielts {
  width: 100%;
  height: 1000px;
  background: #fffced;

  &-container {
    height: 100%;

    &-1 {
      h1 {
        font-size: 54px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        color: $header-color;
      }

      p {
        font-size: 20px;
        width: 80%;
        color: $paragraph-color;
      }

      img {
        width: 432px;
        height: 433px;
      }
    }

    &-2 {
      position: relative;
      padding-left: 150px;

      img {
        position: absolute;
        bottom: 350px;
        right: 50px;
        width: 480px;
        height: 480px;
      }

      p {
        position: absolute;
        font-size: 20px;
        width: 70%;
        color: $paragraph-color;
        bottom: 210px;
      }

      .test-link {
        position: inherit;
        bottom: 130px;
        width: 428px;
        height: 50px;
        font-size: 20px;
        font-weight: 600;
        border: 2px solid $primary-button-color;
        border-radius: 30px;
        @include transition-ease;

        a {
          color: $primary-button-color;
          text-decoration: none;
        }

        &:hover {
          background: $primary-button-color;
          cursor: pointer;

          a {
            color: #fff;
          }
        }
      }

      .test-link-1 {
        position: inherit;
        bottom: 60px;
        width: 428px;
        height: 50px;
        font-size: 20px;
        font-weight: 600;
        border: 2px solid $primary-button-color;
        background: $primary-button-color;
        border-radius: 30px;
        @include transition-ease;

        a {
          color: #fff;
          text-decoration: none;
        }

        &:hover {
          background: transparent;
          cursor: pointer;

          a {
            color: $primary-button-color;
          }
        }
      }

      .test-div {
        position: absolute;
        bottom: 5px;
        right: 280px;
      }
    }
  }
}

.courses {
  width: 100%;
  height: 1000px;
  background: $primary-section-color;
  position: relative;

  &-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 23%;
    z-index: 1;
  }

  &-container {
    height: 100%;
    z-index: 3;
    padding: 0 35px;

    h1 {
      color: $header-color;
      font-size: 54px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-transform: capitalize;
    }

    h4 {
      color: $primary-button-color;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      text-transform: capitalize;
      margin-bottom: 120px;
    }

    a {
      width: 100%;
      margin: 80px 500px 0 500px;
      height: 46px;
      background: $primary-button-color;
      border-radius: 30px;
      text-decoration: none;
      color: #fff;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      text-transform: uppercase;
      @include transition-ease;

      &:hover {
        margin: 80px 490px 0 490px;
      }
    }

    .course-wrapper {
      width: 100%;
      height: 370px;
      max-width: 1320px;
      position: relative;

      i {
        height: 50px;
        width: 50px;
        background: #fff;
        text-align: center;
        line-height: 50px;
        border-radius: 50%;
        cursor: pointer;
        position: absolute;
        top: 50%;
        font-size: 1.25rem;
        transform: translateY(-50%);
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
        z-index: 10;
        color: $primary-button-color;
        font-weight: 600;

        &:first-child {
          left: -22px;
        }

        &:last-child {
          right: -22px;
        }
      }

      .carousel {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: calc((100% / 3) - 10px);
        padding-left: 0;
        gap: 16px;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scrollbar-width: 0;
        scroll-behavior: smooth;

        &::-webkit-scrollbar {
          display: none;
        }

        &.dragging {
          scroll-snap-type: none;
          scroll-behavior: auto;

          .course {
            cursor: grab;
            user-select: none;
          }
        }

        &.no-transition {
          scroll-behavior: auto;
        }

        .course {
          list-style: none;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          scroll-snap-align: start;

          &-img {
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);

            img {
              width: 370px;
              height: 370px;
              object-fit: cover;
            }
          }
        }
      }
    }
  }
}

.info-form {
  width: 100%;
  height: 1100px;
  position: relative;
  background: url("../images/form-bg.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom center;

  &-container {
    height: 100%;

    .kinder-form {
      width: 550px;
      height: 930px;
      position: absolute;
      bottom: 5%;
      left: 18%;
      background: #fffced;
      border-radius: 10px;
      padding: 40px;

      h4 {
        font-size: 25px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }

      p {
        color: $paragraph-color;
      }
      
      label {
        font-weight: 600;
      }

      .btn {
        background: $primary-button-color;
        border-radius: 30px;
        color: #fff;
        font-weight: 500;
        padding: 10px 0;
        font-size: 18px;
        margin-top: 15px;
      }
    }

    img {
      position: absolute;
      bottom: 0;
      right: 12%;
    }
  }
}
