#load-wrapper-la {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #111;
  z-index: 9999;
  @include transition-ease;
}

.fade-out-anim {
  opacity: 0;
  visibility: hidden;
}
