.navbar {
    .nav-link {
        &-content {
            font-weight: 600;
            font-size: 18px;
            @include transition-ease;

            &:hover {
                color: $nav-secondary-color;
            }

            &-btn {
                font-weight: 600;
                font-size: 15px;
            }
        }

        .offcanvas-title-header {
            font-weight: 700;
        }

    }

    .nav-item {
        &-btn {
            background: $primary-button-color;
            border-radius: 20px;
        }
    }
}