@include media-sm {
  .big-banner-container {
    padding: 0 20px;
  }
  .big-banner {
    height: 30vh;

    .banner-header {
      &-text {
        font-size: 35px;
      }

      &-decor {
        width: 43px;
        bottom: 27px;
        left: 185px;
      }
    }

    .banner-sub-header {
      width: 210px;
      margin-bottom: 10px;

      h2 {
        font-size: 12px;
      }
    }

    .banner-btn-detail {
      width: 150px;
      font-size: 12px;
      padding: 10px 2px;
      left: 0px;
    }
  }

  .brand-logo {
    width: 80px;
  }

  .navbar-toggler {
    &-custom {
      width: 42px;
      height: 30px;
    }

    &-icon-custom {
      width: 16px;
      height: 16px;
      margin-bottom: 7px;
    }
  }

  .offcanvas-end.show {
    .offcanvas-body {
      .navbar-nav-content {
        padding-left: 0px !important;

        .nav-item:nth-child(5) {
          margin-bottom: 20px !important;
        }

        .nav-item-btn {
          width: 200px !important;
          margin-left: 1.5rem !important;
        }
      }
    }
  }

  .sub-banner {
    height: fit-content;

    &-container {
      padding: 0 20px;

      h4 {
        font-size: 15px !important;
        width: 100%;
      }

      h2 {
        font-size: 25px !important;
        width: 100%;
      }

      .card-group {
        .card {
          padding: 37px 27px;

          img {
            width: 20%;
          }

          &-body {
            .card-title {
              font-size: 18px;
            }

            .card-text {
              font-size: 13px;
            }
          }
        }
      }
    }
  }

  .our-tutors {
    height: fit-content;
    padding: 30px 0;

    &-container {
      padding: 0 25px;

      &-header {
        width: 100%;

        h1 {
          font-size: 25px !important;
        }

        .read-more {
          font-size: 15px !important;
        }
      }

      .tutor-container {
        height: fit-content;
        padding: 10px 0;
        gap: 50px 20px;

        .tutor-card {
          width: 300px !important;
          height: 300px !important;

          &-img {
            width: 270px;
            height: 175px;
            top: 15px;

            img {
              border-radius: 10px;
            }
          }

          &-content {
            top: 220px;

            &-header {
              h3 {
                font-size: 18px;
              }

              .ielts-band {
                font-size: 15px;
              }

              .exp-tutor {
                font-size: 13px;
              }
            }
          }
        }
      }
    }
  }

  .test-ielts {
    padding: 30px 0;
    height: fit-content;

    &-container {
      padding: 0 25px;

      &-1 {
        padding-right: 0 !important;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h1 {
          font-size: 25px !important;
        }

        p {
          font-size: 15px !important;
          width: 100% !important;
          padding-top: 20px !important;
          padding-bottom: 0 !important;
        }

        img {
          width: 260px !important;
          height: 261px !important;
          
        }
      }

      &-2 {
        position: relative;
        padding-left: 0 !important;
        margin-top: 30px;

        img {
          display: none;
        }

        p {
          position: inherit;
          font-size: 15px !important;
          bottom: 0 !important;
          width: 100% !important;
          margin-bottom: 30px !important;
        }

        .test-div {
          position: inherit;
          right: 0 !important;
          bottom: 0 !important;
        }

        .test-link {
          position: inherit;
          bottom: 0 !important;
          width: 80%;
          font-size: 15px !important;
          margin-bottom: 15px;
        }

        .test-link-1 {
          position: inherit;
          bottom: 0 !important;
          width: 80%;
          font-size: 15px !important;
        }
      }
    }
  }

  .courses {

    height: 650px;

    &-img {
      width: 50%;
    }

    &-container {
      padding: 0 25px !important;
      

      h1 {
        font-size: 25px !important;
        width: 100%;
        z-index: 99;
      }

      h4 {
        z-index: 99;
        font-size: 15px !important;
        width: 100%;
        margin-bottom: 20px;
      }

      a {
        margin: 50px 30px 0 30px !important;
        font-size: 15px;

      }

      .course-wrapper {
        height: 300px;

        i {
          &:first-child {
            left: -15px;
          }

          &:last-child {
            right: -15px;
          }
        }

        .carousel {
          grid-auto-columns: 100%;
          gap: 50px;

          .course {
            &-img {
              img {
                width: 300px;
                height: 300px;
              }
            }
          }
        }
      }
    }
  }

  .info-form {

    background: none;

    img {
      display: none !important;
      
    }

    &-container {

      padding: 0 25px !important;

      .kinder-form {
        position: inherit;
        padding: 20px;

        h4 {
          font-size: 20px !important;
        }

        p {
          font-size: 13px !important;
        }

        label {
          font-size: 13px !important;
        }

        .btn {
          font-size: 15px !important;
          padding: 7px 0;
        }

        input {
          font-size: 13px !important;
        }

        select {
          font-size: 13px !important;
        }
      }
    }

  }

  .custom-modal {
    padding-top: 25px;
    padding-bottom: 25px;

    &-img {
      img {
        width: 130px;
        height: 130px;
      }
    }

    h3 {
      font-size: 20px !important;
    }

    p {
      font-size: 13px !important;
      margin-top: 10px;
    }
  }

  footer {
    height: 600px;

    .footer-container {

      &-1 {
        width: 320px;
        img {
          width: 147px;
          height: 63px;
        }

        .kinder-info {
          margin-top: 15px !important;

          h5 {
            font-size: 15px !important;
            padding-bottom: 5px !important;
          }

          ul {
            .d-flex {
              gap: 5px !important;
            }
          }

          li {
            a {
              font-size: 13px !important;
            }
          }
        }

        .kinder-social {
          margin-top: 20px !important;

          h5 {
            font-size: 15px !important;
            padding-bottom: 5px !important;
          }

          ul {
            gap: 10px !important;

            li {
              a {
                font-size: 20px !important;
              }
            }
          }
        }
      }

      &-2 {
        padding-left: 0 !important;
        width: 320px;
        
        .kinder-course {
          margin-top: 10px !important;
          h5 {
            font-size: 15px !important;
            padding-bottom: 5px !important;
          }

          ul {
            gap: 10px !important;

            li {
              a {
                font-size: 13px !important;
              }
            }
          }
        }
      }
    }

    .kinder-copyright {
      span {
        font-size: 12px !important;
      }
    }
  }
}
