.big-banner-tutor {
  background: url("../images/tutor-bnn-1-new.png") no-repeat;
  background-size: cover;
  background-position: center;
  height: 600px;

  &-container {
    height: 100%;
  }

  .banner-header {
    position: relative;

    &-text {
      position: relative;
      font-size: 79px;
      font-weight: 700;
      color: #fff;
      z-index: 2;
      width: 100%;
    }

    &-decor {
      width: 121px;
      position: absolute;
      z-index: 1;
      bottom: 45px;
      left: 405px;
    }
  }

  .banner-sub-header {
    padding: 10px;
    gap: 10px;
    background: rgba(237, 230, 214, 0.33);
    width: 550px;
    margin-bottom: 20px;

    h2 {
      font-size: 28px;
      font-weight: 600;
      color: $secondary-button-color;
      line-height: normal;
      margin-bottom: 0;
    }
  }

  .banner-btn-detail {
    position: relative;
    padding: 14px 38px;
    width: 240px;
    border-radius: 100vw;
    background-color: transparent;
    color: $secondary-button-color;
    font-size: 20px;
    font-weight: 600;
    border: solid 2px $secondary-button-color;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.6s cubic-bezier(0.25, 1, 0.5, 1); // easeOutQuart
    left: 100px;

    &-text {
      position: relative;
      z-index: 2;
    }

    .fill-container {
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      padding-bottom: 100%;
      transform: translateY(-50%) rotate(180deg);

      // collor filling
      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: $secondary-button-color;
        border-radius: 50%;
        transition: all 0.6s cubic-bezier(0.25, 1, 0.5, 1); // easeOutQuart
        transform: translateY(-100%);
      }
    }

    &:hover {
      border-color: $secondary-button-color;
      transform: translateY(-4px);
      color: #fff;

      .fill-container {
        transform: translateY(-50%) rotate(0);

        &::after {
          transform: translateY(0);
        }
      }
    }
  }
}

.our-tutors-tutor {
  width: 100%;
  min-height: 1200px;
  background: var(
    --bg-blur,
    linear-gradient(103deg, #e2ffe1 -2.42%, #fff8cf 114.41%)
  );
  position: relative;
  padding: 50px 0 170px 0;

  .img-decor {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 60%;
    z-index: 1;
  }

  .tutor-carousel {
    z-index: 99;
    position: inherit;
    height: 520px;

    .carousel-control-prev {
      justify-content: flex-start;

      .carousel-control-prev-icon {
        width: 60px;
        height: 60px;
        background: url("../images/angle-left-b.svg");
      }

      .icon-custom {
        background: #fff;
        border-radius: 50%;
      }
    }

    .carousel-control-next {
      justify-content: flex-end;

      .carousel-control-next-icon {
        width: 60px;
        height: 60px;
        background: url("../images/angle-right-b.svg");
      }

      .icon-custom {
        background: #fff;
        border-radius: 50%;
      }
    }

    .carousel-item-1 {
      .tutor-carousel__item-img {
        padding: 0 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 75%;
        }
      }
    }

    &__item {
      &-img {
        padding: 0 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 80%;
        }
      }
      &-dt {
        margin-left: 80px;
        margin-top: 20px;

        h3 {
          font-size: 65px;
          font-weight: 900;
          text-transform: uppercase;
          color: $header-color;
        }

        ul {
          margin-top: 25px;
          li {
            margin-bottom: 15px;
            font-size: 25px;
            font-weight: 500;
            color: $header-color;
          }
        }

        .band {
          width: 600px;
          height: fit-content;
          display: flex;
          justify-content: flex-start;
          margin-top: 50px;

          &-div {
            display: flex;
            align-items: center;
            height: 40px;
            width: 170px;
            background: $header-color;
            padding: 15px 10px;
            border-radius: 5px;

            p {
              margin: 0;
              font-size: 20px;
              font-weight: 500;
              color: #fff;
            }
          }

          .overall {
            width: 100px;
            height: 90px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 20px;

            p {
              font-size: 70px;
              font-weight: 700;
              color: $header-color;
            }
          }
        }
      }
    }
  }

  .kinder-tutors {
    z-index: 99;
    position: inherit !important;
    width: 100%;
    margin: 120px 200px 0 200px;

    h2 {
      text-align: center !important;
      text-transform: capitalize !important;
      font-weight: 700 !important;
      color: $header-color !important;
      margin-bottom: 10px !important;
    }

    h5 {
      text-align: center !important;
      font-weight: 500 !important;
      color: $primary-button-color !important;
    }

    .kd-2 {
      margin-top: 70px;
    }

    .tutor {
      &-img {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;

        img {
          width: 70%;
        }
      }
    }
  }
}

.test-ielts-tutor {
  width: 100% !important;
  height: 100px !important;

  .test-ielts-container {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;

    .certificate-btn {
      width: 580px;
      height: 50px !important;

      .decor {
        font-size: 50px;
        display: flex;
        justify-content: flex-end !important;
        align-items: center !important;
        color: $primary-button-color !important;

        &-1 {
          font-size: 50px !important;
          display: flex;
          justify-content: flex-start !important;
          align-items: center !important;
          color: $primary-button-color !important;
        }
      }

      &-button {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;

        button {
          width: 100% !important;
          height: 50px !important;
          background: $header-color !important;
          border-radius: 30px !important;
          border: 0 !important;
          color: #fdf02d !important;
          text-transform: uppercase;
          font-size: 20px !important;
          font-weight: 700 !important;
        }
      }
    }
  }
}

.courses-tutor {
  width: 100%;
  height: 1000px;
  background: $primary-section-color;
  position: relative;
  .courses-container {
    height: 100%;
    z-index: 3;
    padding: 0 35px;

    .arrow {
      font-size: 25px !important;
      margin-left: 15px;
    }

    h1 {
      color: $header-color;
      font-size: 54px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-transform: capitalize;
    }

    h4 {
      color: $primary-button-color;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      text-transform: capitalize;
      margin-bottom: 20px;
    }

    a {
      width: 100%;
      margin: 80px 520px 0 520px;
      height: 50px;
      background: $header-color;
      border-radius: 30px;
      text-decoration: none;
      color: #fdf02d;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      text-transform: uppercase;
      @include transition-ease;

      &:hover {
        margin: 80px 500px 0 500px;
      }
    }

    // .student-div {
    //   .student {
    //     &-img {
    //       display: flex !important;
    //       justify-content: center !important;
    //       align-items: center !important;
    //       img {
    //         width: 80%;
    //       }
    //     }
    //   }
    //   .carousel-control-prev {
    //     justify-content: flex-start !important;

    //     .carousel-control-prev-icon {
    //       width: 60px;
    //       height: 60px;
    //       background: url("../images/angle-left-b.svg");
    //     }

    //     .icon-custom {
    //       background: #fff !important;
    //       border-radius: 50% !important;
    //     }
    //   }

    //   .carousel-control-next {
    //     justify-content: flex-end !important;

    //     .carousel-control-next-icon {
    //       width: 60px;
    //       height: 60px;
    //       background: url("../images/angle-right-b.svg");
    //     }

    //     .icon-custom {
    //       background: #fff !important;
    //       border-radius: 50% !important;
    //     }
    //   }
    // }

    .student {
      //width: 100%;

      &-el {
        img {
          width: 100%;
        }
      }
    }
  }
}

.info-form {
  &-container {
    .test-link {
      position: inherit;
      bottom: 130px;
      width: 428px;
      height: 50px;
      font-size: 20px;
      font-weight: 600;
      border: 2px solid $header-color;
      border-radius: 30px;
      @include transition-ease;

      a {
        color: $header-color;
        text-decoration: none;
      }

      &:hover {
        background: $header-color;
        cursor: pointer;

        a {
          color: #fff;
        }
      }
    }

    .test-link-1 {
      position: inherit;
      bottom: 60px;
      width: 428px;
      height: 50px;
      font-size: 20px;
      font-weight: 600;
      border: 2px solid #ffe85b;
      background: #ffe85b;
      border-radius: 30px;
      @include transition-ease;

      a {
        color: $header-color;
        text-decoration: none;
      }
    }

    .test-div {
      position: absolute;
      right: 28%;
      bottom: 50%;
    }
  }
}

#load-wrapper-tutor {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #111;
  z-index: 9999;
  @include transition-ease;
}

.fade-out-anim {
  opacity: 0;
  visibility: hidden;
}
